wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
wp-content/plugins/
wp-content/themes/fn_law/node_modules/
sitemap.xml
sitemap.xml.gz
uploads/*
upgrade