.sidebar {
    box-sizing: border-box;
    display: inline-block;
    padding: 2% 4%;
    vertical-align: top;
    width: 100%;
    
    @include breakpoint($tablet) {
        float: right;
        width: 35%;
    }
}